.screenshotsBlock {
  width: 100%;
  background-color: #000000;
  text-rendering: optimizeLegibility;
  transition: all 0.5s linear;
}

.container {
  height: 550px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.header {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  padding: 0;
  margin: 0 0 50px 0;
  color: white;
}

.screenshotsBox {
  display: flex;
  flex-direction: row;
  gap: 240px;
}

.screenshotBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  height: 300px;
  margin: 0;
  cursor: pointer;
}

.screenshotMain {
  background-image: url('../../images/mainPicSmall.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 100%;
}

.screenshotCont {
  background-image: url('../../images/contPicSmall.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 100%;
}

.screenshotFig {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}



@media (max-width: 769px) {
  .container {
    padding: 30px;
  }
  .screenshotsBox {
    gap: normal;
    justify-content: space-between;
  }
  .screenshotMain {
  }
}

@media (max-width: 650px) {
  .container {
    height: 850px;
  }
  .screenshotsBox {
    flex-direction: column;
    justify-content: center;
    gap: 60px;
  }
}

@media (max-width: 320px) {
  .container {
    height: 850px;
  }
  .header {
    font-size: 28px;
    line-height: 32px;
  }
  .screenshotsBox {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 280px;
  }
  .screenshotMain {
    width: 280px;
  }
  .screenshotCont {
    width: 280px;
  }
}
