.modalWindow {
  width: 60vw;
  height: 60vw;
  max-width: 1056px;
  max-height: 1023px;
  box-sizing: border-box;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  text-rendering: optimizeLegibility;
  transition: all 1s linear;
}

.closeIcon {
  background-image: url('../../images/close_button.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: 0;
  display: block;
  max-height: 32px;
  max-width: 32px;
  height: 100vh;
  width: 100vw;
  position: absolute;
  right: -40px;
  top: -40px;
  transition: all 0.5s linear;
}

@media (max-width: 501px) {
  .modalWindow {
    width: 80vw;
    height: 80vw;
  }
  .closeIcon {
    right: -20px;
    top: -20px;
    max-height: 16px;
    max-width: 16px;
  }
}

@media (max-width: 201px) {
  .closeIcon {
    display: none;
  }
}
