.logoBlock {
  background-color: #FFFFFF;
  width: 100%;
  transition: all 0.5s linear;
}

.container {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  padding: 50px;
  gap: 200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s linear;
  text-rendering: optimizeLegibility;
}

.logo {
  background-image: url('../../images/veniviLogo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  max-height: 220px;
  max-width: 243.61px;
  align-self: center;
  transition: all 0.5s linear;
}

.textContainer {
  display: flex;
  flex-direction: column;
  transition: all 0.5s linear;
}

.textVenivi {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 50px 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 110px;
  transition: all 0.5s linear;
  text-rendering: optimizeLegibility;
}

.textAbout {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 20px 0;
  padding: 0;
  transition: all 0.5s linear;
  text-rendering: optimizeLegibility;
}

.textLogo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding: 0;
  margin: 0;
  transition: all 0.5s linear;
  text-rendering: optimizeLegibility;
}

@media (max-width: 941px) {
  .container {
    gap: 100px;
  }
}


@media (max-width: 769px) {
  .container {
    justify-content: space-between;
    padding: 30px;
    gap: 50px;
  }

  .logo {
    max-height: 150px;
    max-width: 179.45px;
  }

  .textVenivi {
    font-size: 46px;
    line-height: 54px;
    margin-bottom: 30px;
  }

  .textAbout {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 28px;
    max-width: 350px;
  }

  .textLogo {
    font-size: 20px;
    line-height: 28px;
    max-width: 350px;
  }
}

@media (max-width: 501px) {
  .container {
    padding: 20px;
    gap: 0;
    flex-direction: column;
  }

  .textContainer {
    align-items: center;
  }

  .logo {
    max-height: 276px;
    max-width: 300px;
  }

  .textVenivi {
    font-size: 44px;
    line-height: 52px;
    margin-bottom: 15px;
    text-align: center;
  }

  .textAbout {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 26px;
    max-width: 350px;
    text-align: center;
  }

  .textLogo {
    font-size: 22px;
    line-height: 26px;
    max-width: 350px;
    text-align: center;
  }
}
