.header {
  background-color: #DF2626;
  width: 100%;
  text-rendering: optimizeLegibility;
  transition: all 0.5s linear;
}

.resCon {
  height: 80px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 30px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.langButton {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 96px;
  height: 40px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-right: 20px;
}

@media (max-width: 769px) {
  .resCon {
    margin-left: 0;
    margin-right: 0;
  }

  .langButton {
    margin-right: 0;
  }
}

@media (max-width: 321px) {
  .resCon {
    height: 60px;
    padding: 20px;
  }
  .langButton {
    width: 50px;
  }
}
